@model List<HL7WebInterface.Models.HL7Message>

<h2>HL7 Messages for MRN: @ViewBag.MRN | Facility: @ViewBag.Facility</h2>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>ID</th>
            <th>Timestamp</th>
            <th>Message Type</th>
            <th>Control ID</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var message in Model)
        {
            <tr>
                <td>@message.Id</td>
                <td>@message.DateTime.ToString("yyyy-MM-dd HH:mm")</td>
                <td>@message.MSH9</td>
                <td>@message.MSH10</td>

            </tr>
        }
    </tbody>
</table>

<!-- Modal Structure -->
<div class="modal fade" id="hl7Modal" tabindex="-1" role="dialog" aria-labelledby="hl7ModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="hl7ModalLabel">HL7 Raw Message</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <pre id="modalRawMessage"></pre>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- JavaScript to Populate Modal -->
<script>
    $(document).ready(function () {
        $('#hl7Modal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            var rawMessage = button.data('raw');
            var modal = $(this);
            modal.find('#modalRawMessage').text(rawMessage);
        });
    });
</script>



